// Place all the styles related to the Terms controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
li.list-group-item {
  display: flex;
  justify-content: space-between;
}

.center-gallery {
  min-height: 90%;
  min-height: 90vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
